:root {
  --primary-color: #fefae0;
  --secondary-color: #bc6c25;
  --accent-color: #dda15e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1em;
  font-size: 1.25em;
}
